{{>partial_header}}
using System;
using System.Collections;
using System.Collections.Generic;
using System.Globalization;
using System.Text.RegularExpressions;
using System.IO;
using System.Threading;
using System.Threading.Tasks;
using System.Linq;
using System.Text;
using RGN.Dependencies.Core.Functions;
using {{packageName}}.{{modelPackage}};

namespace {{packageName}}.Client
{
    /// <summary>
    /// API client is mainly responsible for making the HTTP call to the API backend.
    /// </summary>
    {{>visibility}} partial class ApiClient
    {
        private readonly IRGNRolesCore mRgnCore;

        {{#operations}}
        {{#operation}}
        private readonly IHttpsCallableReference {{operationId}}Function;
        {{/operation}}
        {{/operations}}

        /// <summary>
        /// Initializes a new instance of the <see cref="ApiClient" /> class
        /// </summary>
        /// <param name="rgnCore">An instance of RGNCore.</param>
        public ApiClient(IRGNRolesCore rgnCore)
        {
            mRgnCore = rgnCore;
        {{#operations}}
        {{#operation}}
            {{operationId}}Function = mRgnCore.readyMasterFunction.GetHttpsCallable("{{packageName}}-{{operationId}}");
        {{/operation}}
        {{/operations}}
        }

        {{#operations}}
        {{#operation}}
        /// <summary>
        /// {{{summary}}}
        /// </summary>
        /// <remarks>
        /// {{{notes}}}
        /// </remarks>
        /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
        {{/allParams}}/// <param name="cancellationToken">Cancellation Token to cancel request (optional) </param>
        /// <returns>Task of {{{returnType}}}{{^returnType}}void{{/returnType}}</returns>
        {{#isDeprecated}}
        [Obsolete]
        {{/isDeprecated}}
        public async {{#returnType}}Task<{{{.}}}>{{/returnType}}{{^returnType}}Task{{/returnType}} {{operationId}}Async({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{#optionalMethodArgument}} = default({{{dataType}}}){{/optionalMethodArgument}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}}{{#allParams.0}}, {{/allParams.0}}CancellationToken cancellationToken = default(CancellationToken))
        {
            var parameters = new Dictionary<string, object>() {
                {{#allParams}}{ "{{paramName}}", {{paramName}} }{{^-last}},{{/-last}}{{/allParams}}
            };
            try
            {
                var result = await {{operationId}}Function.CallAsync(parameters);
                cancellationToken.ThrowIfCancellationRequested();
                return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}(object){{/returnType}}result.Data;
            }
            catch (Exception e)
            {
                throw new ApiException(e.Message);
            }
        }
        {{/operation}}
        {{/operations}}
    }
}
