{{>partial_header}}
using System;
using System.Linq;
using System.IO;
using System.Text;
using System.Text.RegularExpressions;
using System.Collections;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Runtime.Serialization;
{{#models}}
{{#model}}
{{/model}}
{{/models}}

{{#models}}
{{#model}}
namespace RGN.Modules.{{packageName}}.FunctionsClient.{{modelPackage}}
{
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelGeneric}}{{/isEnum}}
{{/model}}
{{/models}}
}
